body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #252525;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  background: linear-gradient(138deg, #020024 0%, #094479 0%, #f700ff 100%);
  text-shadow: 0 0 1px #000;
  height: 100px;
}

.navbar--title {
  font-size: 1.5rem;
  margin-left: 1em;
}

.navbar--p {
  margin-left: auto;
  margin-right: 1em;
  font-size: .8rem;
}

.navbar--link {
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}


@media (min-width: 600px) {
  .navbar--title {
    font-size: 2rem;
  }

  .navbar--p {
    font-size: 1.3rem;
  }
}