* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #252525;
}





/* NAVIGATION SECTION */

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  background: linear-gradient(138deg, #020024 0%, #094479 0%, #f700ff 100%);
  text-shadow: 0 0 1px #000;
  height: 100px;
}

.navbar--logo {
  height: 65px;
  margin-left: 1em;
  margin-right: .5em;
}

.navbar--title {
  font-size: 1.5rem;
}

.navbar--p {
  margin-left: auto;
  margin-right: 2em;
  font-size: .8rem;
}

.navbar--link {
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}






/* MAIN SECTION */

/* Main general */
.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

/* Main form */

.form {
  display: grid;
  padding: 0 1em;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.form--input {
  font-family: inherit;
  padding: 1em;
  border: 1px solid #808080;
  border-radius: 5px;
  grid-column: 1 / 2;
}

.form--input:focus {
  outline: none;
  border: 1px solid #f700ff;
}

.form--button {
  background: linear-gradient(138deg, #020024 0%, #094479 0%, #f700ff 100%);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  grid-column: 1 / 2;
  margin-bottom: 2em;
  padding: 1em;
  text-shadow: 0 0 1px #000;
}

/* Main image + text */

.main--image-container {
  padding: 0 1em;
  position: relative;
}

.main--image {
  max-width: 100%;
}

.meme-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  position: absolute; 
  color: #fff;
  text-shadow: 0 0 5px #3c3c3c;
  font-size: 1.5rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 85%;
  text-align: center;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}






/* MEDIA QUERIES */

/* Small screens */

@media (max-width: 400px) {
  /* Navbar */
  .navbar--logo {
    height: 50px;
  }

  .navbar--title {
    font-size: 1rem;
  }

  .navbar--p {
    font-size: .6rem;
  }

  /* Main meme */
  .meme-text {
    font-size: 1rem;
  }

}

/* Large screens */

@media (min-width: 600px) {
  /* Navbar */
  .navbar--logo {
    height: 80px;
  }

  .navbar--title {
    font-size: 2rem;
  }

  .navbar--p {
    font-size: 1.3rem;
  }


  /* Main */
  .form {
    grid-template-columns: 1fr 1fr;
  }

  .form--input {
    grid-column: auto;
    font-size: 1.2rem;
  }

  .form--button {
    grid-column: 1 / 3;
    font-size: 1.2rem;
  }

  /* Main meme */
  .meme-text {
    font-size: 2rem;
  }
}